@page
@model ClockInApp.Web.Pages.EmployeePortalModel
@{
}
<h1 class="head text-center">Welcome to the Employee Portal,</h1>
<h1 class="head text-center">@Model.Employee.FirstName @Model.Employee.LastName.</h1>
<p class="text-center">Clock in and Clock out using the button below.</p>
<h3>The employee pin is @Model.EmployeePin.</h3>

<form method="post">
    @if (Model.Employee.IsClockedIn)
    {
        <p>You clocked in at @Model.StartTime</p>
        <button asp-page-handler="ClockOut" type="submit" class="btn btn-primary">Clock Out</button>
    }
    @if(Model.Employee.IsClockedIn == false)
    {
        <p>Your last clock out time was at @Model.EndTime</p>
        <button asp-page-handler="ClockIn" type="submit" class="btn btn-primary">Clock In</button>
    }
</form>


@*
TODO: 
- When i click the Clock in button, It should update the database
  and what's shown on the page
- Same for clock out
*@